.about {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.about h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 24px 0;
  padding: 0;
}
.about-info {
  max-width: 460px;
}

.about-info p, .about-contacts p {
  font-family: "PTSans","Arial", sans-serif;
  font-size: 13px;
  line-height: 1.8;
  padding: 0;
  margin: 0 0 24px 0;
}

.about-info p:last-of-type {
  margin-bottom: 1px;
}

.delivery {
  list-style: none;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 0 20px 0;
  padding: 0;
}

.delivery li {
  position: relative;
  margin-left: 37px;
}

.delivery li::before {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  left: -37px;
  width: 25px;
  height: 2px;
  background-color: var(--red);
}

.delivery li:not(:last-of-type) {
  margin-bottom: 12px;
}

.about-contacts {
  margin-left: auto;
}

.about-contacts a {
  display: block;
  margin-bottom: 25px;
}
