.about {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.about h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0 0 23px 0;
  padding: 0;
}

.about-info {
  max-width: 460px;
}

.about-info p, .about-contacts p {
  font-family: "PTSans","Arial", sans-serif;
  font-size: 13px;
  line-height: 1.8;
  padding: 0;
  margin: 0;
}

.about-info p:first-of-type, .about-contacts p:first-of-type {
  margin-bottom: 29px;
}

.about-info p:last-of-type {
  margin-bottom: 2px;
}

.delivery {
  list-style: none;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 18px 0;
  padding: 0;
}

.delivery li {
  position: relative;
  margin-left: 37px;
}

.delivery li::before {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  left: -37px;
  width: 25px;
  height: 2px;
  background-color: var(--red);
}

.delivery li:not(:last-of-type) {
  margin-bottom: 12px;
}

.about-contacts {
  margin-left: auto;
  flex-basis: 32%;
}

.about-contacts p {
  max-width: 180px;
}

.map-link {
  display: block;
  margin-bottom: 29px;
}
