.about {
  color: var(--black);
}

.about h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.about-info p, .about-contacts p {
  font-family: "PTSans","Arial", sans-serif;
  font-size: 13px;
  line-height: 1.8;
  padding: 0;
  margin: 0;
}

.about-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  font-size: 14px;
  line-height: 1.3;
  color: var(--white);
  background-color: var(--red);
  text-transform: uppercase;
}

.delivery {
  list-style: none;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.about-contacts button {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 38px;
  font-size: 14px;
  line-height: 1.3;
  color: var(--white);
  background-color: var(--red);
  text-transform: uppercase;
  cursor: pointer;
}
