.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border: none;
  background: none;
  background-color: var(--red);
  min-height: 38px;
  text-transform: uppercase;
  color: var(--white);
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}

.section-button {
  min-width: 192px;
}

.button:hover:not(.new-price) {
  background-color: var(--slider-link-hover);
}

.button:active:not(.new-price) {
  background-color: var(--error);
}

.new-price {
  width: 141px;
  font-size: 17px;
  line-height: 1;
  clip-path: polygon(0 0, 122px 0, 100% 50%, 122px 100%, 0 100%);
  padding: 10px;
  padding-left: 4px;
  border-radius: 3px;
  margin-left: 10px;
}

.catalog-button {
  position: absolute;
  left: 23px;
  bottom: 21px;
  min-width: 135px;
  background-color: var(--catalog-link);
}

.button.catalog-button:hover {
  background-color: var(--catalog-link-hover);
}

.button.catalog-button:active {
  background-color: var(--catalog-link-active);
}

.slider-link {
  max-width: 250px;
}

.credit-link {
  margin-top: 26px;
  font-family: "Cuprum", "Arial", sans-serif;
  min-width: 192px;
}

.about-link {
  min-width: 220px;
}

.about-button {
  min-width: 300px;
}

.form-button {
  min-width: 460px;
  cursor: pointer;
}

.white-button {
  min-width: 192px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.button.white-button:hover, .button.white-button:active {
  background-color: var(--white);
  color: var(--red);
}

.close-button {
  position: absolute;
  display: block;
  top: 14px;
  right: 11px;
  border-style: none;
  background:none;
  padding: 0;
  cursor: pointer;
  width: 21px;
  height: 21px;
  transition: all 0.3s ease-in-out;
}

.close-button::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: 27px;
  height: 4px;
  transform: rotate(45deg);
  border-radius: 2px;
  background-color: var(--red);
}

.close-button::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: 27px;
  height: 4px;
  transform: rotate(-45deg);
  border-radius: 2px;
  background-color: var(--red);
}

.close-button:hover {
  transform: scale(1.2);
}
