.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
  min-height: 38px;
  text-transform: uppercase;
  color: var(--white);
  font-size: 14px;
  line-height: 1.3;
}

.section-button {
  min-width: 192px;
  background-color: var(--red);
}

.button:hover {
  background-color: var(--slider-link-hover);
}

.button:active {
  background-color: var(--error);
}

.new-price {
  min-width: 141px;
  background: var(--red);
  font-size: 17px;
  line-height: 1;
}

.catalog-button {
  position: absolute;
  left: 23px;
  bottom: 21px;
  min-width: 135px;
  background-color: var(--catalog-link);
}

.catalog-button:hover {
  background-color: var(--catalog-link-hover);
}

.catalog-button:active {
  background-color: var(--catalog-link-active);
}

.credit-link {
  font-family: "Cuprum", "Arial", sans-serif;
  min-width: 192px;
  background-color: var(--red);
}

.about-link {
  min-width: 220px;
  background-color: var(--red);
}

.about-button {
  min-width: 300px;
  background-color: var(--red);
}
