.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border: none;
  background: none;
  background-color: var(--red);
  min-height: 38px;
  text-transform: uppercase;
  color: var(--white);
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}

.section-button {
  min-width: 192px;
}

.button:hover:not(.new-price) {
  background-color: var(--slider-link-hover);
}

.button:active:not(.new-price) {
  background-color: var(--error);
}

.new-price {
  min-width: 141px;
  font-size: 17px;
  line-height: 1;
}

.catalog-button {
  position: absolute;
  left: 23px;
  bottom: 21px;
  min-width: 135px;
  background-color: var(--catalog-link);
}

.button.catalog-button:hover {
  background-color: var(--catalog-link-hover);
}

.button.catalog-button:active {
  background-color: var(--catalog-link-active);
}

.slider-link {
  max-width: 250px;
}

.credit-link {
  font-family: "Cuprum", "Arial", sans-serif;
  min-width: 192px;
}

.about-link {
  min-width: 220px;
}

.about-button {
  min-width: 300px;
}

.form-button {
  min-width: 460px;
  cursor: pointer;
}

.white-button {
  min-width: 192px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.button.white-button:hover, .button.white-button:active {
  background-color: var(--white);
  color: var(--red);
}
