.catalog {
  padding: 59px 0;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat (3,1fr);
  grid-template-rows: repeat (3,1fr);
  gap: 20px;
}

.catalog-list__item {
  position: relative;
  width: 300px;
  height: 123px;
  color:var(--white);
}

.catalog-list__item:first-child {
  background: var(--yellow) url("../img/icon-1.png") no-repeat 90% 50%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.catalog-list__item:nth-child(2) {
  background: var(--blue) url("../img/icon-2.png") no-repeat 90% 50%;
  grid-column: 2/3;
  grid-row: 1/2;
}

.catalog-list__item:nth-child(3) {
  background: var(--lilac) url("../img/icon-3.png") no-repeat 90% 50%;
  grid-column: 3/4;
  grid-row: 1/2;
}

.catalog-list__item:nth-child(5) {
  background: var(--greenlight) url("../img/icon-4.png") no-repeat 90% 50%;
  grid-column: 3/4;
  grid-row: 2/3;
}

.catalog-list__item:last-child {
  background: var(--yellow) url("../img/icon-5.png") no-repeat 90% 50%;
  grid-column: 3/4;
  grid-row: 3/4;
}

.catalog-list__item b {
  position: absolute;
  top: 20px;
  left: 23px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}

.catalog-list__link {
  position: absolute;
  left: 23px;
  bottom: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  color:inherit;
  font-size: 14px;
  line-height: 1.3;
  background-color: var(--catalog-link);
}

.catalog-list__link:hover {
  background-color: var(--catalog-link-hover);
}

.catalog-list__link:active {
  background-color: var(--catalog-link-active);
}

.slider {
  grid-column: 1/3;
  grid-row: 2/4;
}

.slider-wrapper {
  position: relative;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-list__item {
  background-color: var(--grey);
  position: relative;
}

.slider-list__item:first-of-type {
  display: none;
}

.slider-list__item a {
  position: absolute;
  left: 24px;
  bottom: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 38px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color:var(--white);
  background-color:var(--red);
}

.slider-list__item a:hover {
  background-color: var(--slider-link-hover);
}

.slider-list__item a:active {
  background-color: var(--error);
}

.slide-desk {
  color:var(--white);
  position: absolute;
  top: 23px;
  left: 24px;
  display: flex;
  flex-direction: column;
}

.slide-desk b {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
}

.slide-desk span {
  font-size: 18px;
  line-height: 1.3;
}

.slider-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-control__button {
  padding: 0;
  border-style: none;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white);
}

.slider-control__button:not(:last-of-type) {
  margin-right: 10px;
}

.slider-control__button-active {
  position: relative;
}

.slider-control__button-active::before {
  content:"";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 2px;
  top: 2px;
  background-color: var(--red);
  border-radius: 50%;
}

.slider__button {
  position: absolute;
  width: 22px;
  height: 40px;
  background:transparent url("../img/slider-arrow.svg") no-repeat;
  border-style: none;
  padding: 0;
  top: 122px;
  cursor: pointer;
}

.slider__button-prev {
  left: 24px;
}

.slider__button-next {
  transform:rotate(180deg);
  right: 20px;
}
