.feedback {
  display: none;
  left: calc(50vw - 310px);
  top: calc(50vh - 215px);
  position: fixed;
  width: 620px;
  height: 430px;
  background-color: var(--white);
  box-shadow: 0px 4px 20px 0px var(--firm-link-hover);
  border-top: 7px solid var(--red);
}

.feedback-show {
  display: block;
  animation: bounce 0.6s;
}

.feedback-error {
  animation: shake 0.6s;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.form-wrapper {
  padding: 38px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-item {
  margin: 0;
  padding: 0;
  flex-basis: 220px;
  display: flex;
  flex-direction: column;
}

.form-item-textarea {
  margin-top: 13px;
  flex-grow: 1;
}

.form-item label {
  margin-bottom: 11px;
}

.form-item input {
  min-height: 38px;
  outline: none;
  border: 2px solid var(--greylight);
  border-radius: 2px;
  padding: 7px 12px;
}

.form-item-textarea textarea {
  min-height: 114px;
  outline: none;
  border: 2px solid var(--greylight);
  border-radius: 2px;
  resize: none;
  padding: 7px 12px;
}

.form-item input:hover, .form-item-textarea textarea:hover {
  border: 2px solid var(--grey);
}

.form-item input:focus, .form-item-textarea textarea:focus {
  border: 2px solid var(--nav-active);
}

.form-item-textarea textarea::placeholder, .form-item input::placeholder {
  color: var(--greylight);
}

.form-item label {
  font-size: 18px;
  line-height: 1.3;
  color: var(--black);
}

.button-wrapper {
  padding: 37px 80px;
  background-color: var(--form_bg);
}

