.filter {
  color: var(--black);
  font-family: "PTSans","Arial", sans-serif;
  text-transform: uppercase;
  grid-row: 3/5;
  grid-column: 1/2;
}

.filter h2 {
  background-color: var(--filter-bg);
  padding: 10px 18px;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0 0 24px 0;
}

.filter-form {
}

.form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-fieldset:not(:last-of-type) {
  border-bottom: 1px solid var(--firms-border);
  margin-bottom: 17px;
  padding-bottom: 26px;
}

.form-fieldset legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.8;
}

.form-fieldset:first-of-type legend {
  margin-bottom: 11px;
}

.form-fieldset:nth-of-type(2) legend {
  margin-bottom: 18px;
}

.form-fieldset:nth-of-type(3) legend {
  margin-bottom: 23px;
}

.range-controls {
  position: relative;
  margin-bottom: 9px;
  padding: 39px 20px;
  background-color: var(--filter-bg);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--greylight);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  border: 8px solid var(--white);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls label {
  font-size: 17px;
  line-height: 1.1;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: var(--filter-bg);
  font-family: inherit;
  font-size: inherit;
}

.price-controls input[type="number"]::-webkit-outer-spin-button,
.price-controls input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls input[type='number'],
.price-controls input[type="number"]:hover,
.price-controls input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.price-controls span {
  color: var(--span);
}

.firms-check {
  list-style: none;
  padding: 0;
  margin: 0;
}

.firms-check__item:not(:last-child) {
  margin-bottom: 19px;
}

.firms-checkbox {
  appearance: none;
}

.firms-check__item label {
  font-size: 15px;
  line-height: 1.3;
  position: relative;
  margin-left: 30px;
  left: -5px;
}

.firms-checkbox:not(:disabled)+label {
  cursor: pointer;
}

.firms-checkbox+label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-color: var(--white);
  border-radius: 3px;
  border: 2px solid var(--greylight);
}

.firms-checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
  background-position: center center;
  border: none;
  width: 27px;
}

.firms-checkbox:hover:not(:checked)+label::before {
  border: 2px solid var(--checkbox-hover);
}

.firms-checkbox:checked:hover+label::before {
  background-image: url("../img/checkbox-hover.svg");
  background-position: center center;
  border: none;
  width: 27px;
}

.firms-checkbox:disabled+label {
  color: var(--checkbox-dis);
}

.firms-checkbox:disabled+label::before {
  border: 2px solid var(--checkbox-dis);
}

.firms-checkbox:disabled:hover+label::before {
  border: 2px solid var(--checkbox-dis);
}

.firms-checkbox:disabled:checked+label::before {
  background-image: url("../img/checkbox-dis.svg");
  background-position: center center;
  border: none;
  width: 27px;
}

.power-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.power-list__item:not(:last-child) {
  margin-bottom: 23px;
}

.power-list__item label {
  font-size: 15px;
  line-height: 1.3;
  position: relative;
  margin-left: 30px;
  left: -5px;
}

.power-list__input:not(:disabled) label {
  cursor: pointer;
}

.power-list__input {
  appearance: none;
}

.power-list__input+label::before {
  content: "";
  position: absolute;
  left:-30px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-color: var(--white);
  border-radius: 50%;
  border: 4px solid var(--greylight);
}

.power-list__input:checked+label::after {
  content: "";
  position: absolute;
  left: -22px;
  top: 6px;
  width: 9px;
  height: 9px;
  background-color: var(--greylight);
  border-radius: 50%;
}

.power-list__input:hover+label::before {
  border: 4px solid var(--checkbox-hover);
}

.power-list__input:checked:hover+label::after {
  background-color: var(--checkbox-hover);
}

.power-list__input:disabled+label::before {
  border: 4px solid var(--checkbox-dis);
}

.power-list__input:disabled+label {
  color: var(--checkbox-dis);
}

.power-list__input:disabled+label::after {
  background-color: var(--checkbox-dis);
}

.filter-form button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: var(--white);
  min-width: 220px;
  min-height: 38px;
  border: 1px solid var(--checkbox-dis);
  margin-top: 37px;
}
