.firms{

}
.firms-header {
  background-color: var(--title-bg);
}
.firms-header h2{
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
}
.firms-header a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  text-transform: uppercase;
}
.firms-list {
  list-style: none;
  padding: 0;
}
.firms-list__item {
  border: 1px solid var(--firms-border);
}
.firms-list__item:hover {
  box-shadow: 0px 4px 20px 0px var(--firm-link-hover);
}
.firms-list__item:active {
  box-shadow: 0px 4px 20px 0px var(--firm-link-hover);
  opacity: 0.5;
}
