.firms {
  margin-bottom: 50px;
}

.firms-header {
  background-color: var(--title-bg);
  min-height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 0 28px;
  margin-bottom: 20px;
}

.firms-header h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: var(--black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.firms-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}

.firms-list__item {
  border: 1px solid var(--firms-border);
  margin-bottom: 20px;
}

.firms-list__item:hover {
  box-shadow: 0px 4px 20px 0px var(--firm-link-hover);
}

.firms-list__item:active {
  box-shadow: 0px 4px 20px 0px var(--firm-link-hover);
  opacity: 0.5;
}

.firms-list__link {
  min-width: 220px;
  min-height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}
