.footer {
  background-color: var(--header-address);
  font-size: 18px;
  line-height: 1.3;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  width: 220px;
  height: 63px;
  box-shadow: 0 5px 0 var(--logo-shadow);
  margin-bottom: 22px;
}

.footer-logo:active {
  background-color: var(--error);
}

.footer-address {
  color: var(--white);
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.footer-address a {
  color: var(--white);
}

.footer-nav {
  padding-top: 37px;
}

.site-nav {
  list-style: none;
  padding: 0;
  margin: 0 0 34px 0;
  display: flex;
}

.site-nav__item:not(:last-of-type) {
  margin-right: 58px;
}

.site-nav__item a {
  color: var(--white);
}

.site-nav__item a:hover {
  text-decoration: underline;
}

.site-nav__item a:active {
  opacity: 0.5;
}

.products-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.products-nav__item:not(:last-of-type) {
  margin-right: 58px;
}

.products-nav__item a {
  color: var(--footer-yellow);
}

.products-nav__item a:active {
  opacity: 0.5;
}

.products-nav__item a:hover {
  text-decoration: underline;
}

.footer-section {
  background-color: var(--header-section);
  font-size: 16px;
  line-height: 1.1;
  padding-top: 34px;
  padding-bottom: 29px;
}

.footer-section__wrapper {
  display: flex;
  align-items: center;
}

.copyright {
  color: var(--white);
  margin: 0 162px 0 0;
}

.socials {
  list-style: none;
  padding: 0;
  margin: 0 118px 0 0;
  display: flex;
  justify-content: space-between;
}

.socials__link:not(:last-of-type) {
  margin-right: 1px;
}

.socials__link a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-bg);
  background-repeat: no-repeat;
  background-position: center center;
}

.socials__link:first-child a {
  background-image: url("../img/icon-vk.svg");
}

.socials__link:nth-child(2) a {
  background-image: url("../img/icon-fb.svg");
}

.socials__link:last-child a {
  background-image: url("../img/icon-insta.svg");
}

.socials__link a:hover,.socials__link a:active {
  background-color: var(--red);
}

.footer-feedback {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-feedback__item:not(:last-of-type) {
  margin-right: 51px;
}

.footer-feedback__item dt {
  color: var(--white);
}

.footer-feedback__item dd {
  margin: 0;
  padding: 0;
}

.footer-feedback__link {
  color: var(--footer-yellow);
}

.footer-feedback__link:hover {
  text-decoration: underline;
}

.footer-feedback__link:active {
  text-decoration: none;
  color: var(--red);
}
