.header {
  background-color: var(--header-background);
  padding-bottom: 65px;
}

.header__section {
  background-color: var(--header-section);
  color: var(--white);
  font-size: 18px;
  line-height: 1.3;
}

.header__section-content {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  width: 220px;
  height: 42px;
  box-shadow: 0 5px 0 var(--logo-shadow);
}

.logo:active {
  background-color: var(--error);
}

.search {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
}

.search__label {
  flex-grow: 1;
  position: relative;
  display: flex;

}

.search__label span {
  position: absolute;
  left: 42px;
  top: calc(50% - 12px);
}

.search__label svg {
  position: absolute;
  left: 17px;
  top: calc(50% - 9px);
}

.search__label:hover>svg {
  opacity: 1;
}

.search__input {
  background-color: transparent;
  border-style: none;
  flex-grow: 1;
}

.search__input:focus {
  background-color: var(--white);
  outline: none;
  padding-left: 42px;
  appearance: none;
}

.search__input:focus+svg {
  fill: var(--red);
  opacity: 1;
}

.search__input:focus~span {
  display: none;
}

.search__input::-webkit-search-cancel-button {
	display: none;
}

.user-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-menu__item {
  min-width: 150px;
  min-height: 42px;
  display: flex;
}

.user-menu__link {
  width: 100%;
  color: inherit;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user-menu__link>svg {
  margin-right: 9px;
}

.user-menu__link:hover>svg {
  opacity: 1;
}

.user-menu__link:active {
  background-color: var(--user-link-active);
}

.user-menu__link:active>svg {
  opacity: 0.3;
}

.checkout a {
  color: inherit;
  background-color: var(--green);
}

.checkout a:hover {
  background-color: var(--checkout-hover);
}

.checkout a:active {
  color: var(--checkout-active);
}

.header__content {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  padding-top: 46px;
}

.slogan {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--red);
  font-size: 16px;
  font-style: italic;
  line-height: 1.4;
  padding: 0 0 0 30px;
  margin: 0;
  margin-right: 93px;
}

.header__address {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-self: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__address a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 270px;
  min-height: 45px;
  color: var(--red);
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.4;
  padding: 0 5px;
  text-align: center;
  background-color: var(--phone-bg);
  border: 3px var(--white) solid;
  margin-bottom: 3px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 39px 10px;
  padding-left: 35px;
}

.header__address span {
  color: var(--header-address);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

.login {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  align-self: start;
  display: flex;
}

.login__item {
  display: inline-flex;
  min-height: 45px;
  background-color: var(--white);
}

.login__item:first-child {
  margin-right: 10px;
  min-width: 121px;
}

.login__item:last-child {
  min-width: 150px;
}

.login__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  line-height: 1;
  color: var(--black);
  padding: 0 5px;
  text-align: center;
}

.login__link>svg {
  margin-right: 8px;
}

.login__link:hover {
  color: var(--red);
}

.login__link:hover>svg {
  fill: var(--grey);
}

.login__link:active {
  color: var(--greylight);
}

.login__link:active>svg {
  fill: var(--greylight);
}

.navigation {
  grid-column: 1/-1;
  grid-row: 2/3;
  background-color: var(--header-address);
  box-shadow: 0px 5px 0px 0px var(--header-section);
  margin-top: 40px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-list li {
  min-width: 122px;
  min-height: 60px;
  display: flex;
  flex-grow: 1;
}

.nav-list__link {
  color: var(--white);
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-list__link:hover {
  background-color: var(--header-section);
}

.nav-list__link:active {
  background-color: var(--nav-active);
  color: var(--checkout-active);
}

.nav-list__link:not([href]):hover, .nav-list__link:not([href]):active {
  color: var(--white);
  background-color: var(--header-address);
}
