.main {
}

.catalog {
}
.catalog-list {
}
.catalog-list__item {
  width: 300px;
  height: 123px;
  color:var(--white);
}
.catalog-list__item:first-child {
  background: var(--yellow) url("../img/icon-1.png") no-repeat 90% 50% ;
}
.catalog-list__item:nth-child(2) {
  background: var(--blue) url("../img/icon-2.png") no-repeat 90% 50% ;
}
.catalog-list__item:nth-child(3) {
  background: var(--lilac) url("../img/icon-3.png") no-repeat 90% 50% ;
}
.catalog-list__item:nth-child(5) {
  background: var(--greenlight) url("../img/icon-4.png") no-repeat 90% 50% ;
}
.catalog-list__item:last-child {
  background: var(--yellow) url("../img/icon-5.png") no-repeat 90% 50% ;
}
.catalog-list__item b{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.catalog-list__link {
  text-transform: uppercase;
  color:inherit;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--catalog-link);
}
.catalog-list__link:hover{
  background-color: var(--catalog-link-hover);
}
.catalog-list__link:active{
  background-color: var(--catalog-link-active);
}

.slider {
}
.slider-wrapper {
}
.slider-list {
}
.slider-list__item {
  background-color: var(--grey);
}
.slider-list__item a{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color:var(--white);
  background-color:var(--red);
}
.slider-list__item a:hover{
  background-color: var(--slider-link-hover);
}
.slider-list__item a:active{
  background-color: var(--error);
}
.slide-desk{
  color:var(--white);
}
.slide-desk b{
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
.slide-desk span{
  font-size: 18px;
  line-height: 24px;
}
.slider-control {
}
.slider-control__button {
}
.slider-control__bitton-active {
}
.slider__button {
  width: 22px;
  height: 40px;
  background:var(--black) url("/img/slider-arrow.svg") no-repeat;
  border-style: none;
}
.slider__button-prev {

}
.slider__button-next {
  transform:rotate(180deg);
}
.popular {
}
.popular-header {
  background-color: var(--title-bg);
}
.popular-header h2{
  font-size: 30px;
  font-style: normal;
  line-height: 30px;
  color: var(--black);
}
.popular-header a{
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  text-transform: uppercase;
}
.popular-header a:hover{
  background-color: var(--slider-link-hover);
}
.popular-header a:active{
  background-color: var(--error);
}
.popular-list {
  font-family: "PTSans","Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.popular-list__item {
}
.popular-list__item h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}
.popular-list__item s {
  font-size: 17px;
  line-height: 18px;
  color:var(--s-color);
  text-transform: uppercase;
}
.popular-list__item span {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color:var(--white);
  background-color: var(--red);
}
.popular-list__item-new {
}
.firms{

}
.firms-header {
  background-color: var(--title-bg);
}
.firms-header h2{
  font-size: 30px;
  font-style: normal;
  line-height: 30px;
  color: var(--black);
}
.firms-header a{
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  text-transform: uppercase;
}
.firms-list {
}
.firms-list__item {
}
.firms-list__link:hover {
  box-shadow: 0px 4px 20px 0px var(--firm-link-hover);
}
.firms-list__link:active {
  box-shadow: 0px 4px 20px 0px var(--firm-link-hover);
  opacity: 0.5;
}
.service {
  background-color: var(--header-background);
}
.service-title {
  color:var(--black);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.service-lead {
  font-family: "PTSans","Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color:var(--black);
}
.service-buttons {

}
.buttons-list {
}
.buttons-list__item {
}
.service-desc {
}
.desc-list {
}
.desc-list__content {
}
.credit-link {
}
.about {
}
.about-info {
}
.delivery {
}
.about-contacts {
}
