.perforators {
  font-family: "PTSans","Arial", sans-serif;
  font-weight: 700;
  grid-row: 4/5;
  grid-column: 2/3;
}

.perforators-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.perforators-list__item {
  border: 1px solid var(--firms-border);
  position: relative;
}

.perforators-list__item:hover {
  box-shadow: 0px 4px 20px 0px var(--firm-link-hover);
}

.perforators-list__item:hover .card-hover {
  display: block;
}

.perforators-list__item h3 {
  font-size: 18px;
  color: var(--black);
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.perforators-list__item s {
  font-size: 17px;
  line-height: 1;
  color: var(--s-color);
  text-transform: uppercase;
}

.card-hover {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.card-hover button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 0;
}

.buy {
  background: var(--green) url("../img/icon-cart.svg") no-repeat 30px 10px;
  color: var(--white);
  border: none;
  box-shadow: 0px -3px 0px 0px var(--button-shadow) inset;
}

.buy>span {
  padding-left: 18px;
}

.buy:hover {
  background-color: var(--checkout-hover);
}

.buy:active {
  background-color: var(--button-active);
}

.bookmark {
  color: var(--header-address);
  background-color: var(--white);
  border: 3px solid var(--green);
}

.bookmark:hover {
  border-color: var(--header-address);
}

.bookmark:active {
  color: var(--bookmark-active);
  border-color: var(--bookmark-active);
}

.catalog-pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-pagination__item {
  min-width: 38px;
  min-height: 38px;
}

.catalog-pagination__item a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--checkbox-dis);
  border-radius: 2px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.4px;
}

.catalog-pagination__item:last-of-type {
  min-width: 140px;
}

.catalog-pagination__item a:hover {
  border-color: var(--greylight);
}

.catalog-pagination__item a:active {
  border-color: var(--red);
}

.catalog-pagination__item-active a {
  background-color: var(--red);
  color: var(--white);
  border: none;
}
