.perforators {
  font-family: "PTSans","Arial", sans-serif;
  font-weight: 700;
  grid-row: 4/5;
  grid-column: 2/3;
}

.perforators-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-pagination__item {
  min-width: 38px;
  min-height: 38px;
  display: inline-flex;
}

.catalog-pagination__item a {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--checkbox-dis);
  border-radius: 2px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.4px;
}

.catalog-pagination__item:last-of-type {
  min-width: 140px;
}

.catalog-pagination__item a:hover {
  border-color: var(--greylight);
}

.catalog-pagination__item a:active {
  border-color: var(--red);
}

.catalog-pagination__item-active a {
  background-color: var(--red);
  color: var(--white);
  border: none;
}
