.perforators {
  font-family: "PTSans","Arial", sans-serif;
  font-weight: 700;
}

.perforators-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.perforators-list__item {
  border:1px solid var(--firms-border);
  position: relative;
}

.perforators-list__item:hover {
  box-shadow: 0px 4px 20px 0px var(--firm-link-hover);
}

.perforators-list__item:hover .card-hover {
  display: block;
}

.perforators-list__item h3 {
  font-size: 18px;
  color: var(--black);
  line-height: 1.1;
}

.perforators-list__item s {
  font-size: 17px;
  line-height: 1;
  color:var(--s-color);
  text-transform: uppercase;
}

.perforators-list__item>span {
  display: block;
  width: 141px;
  height: 38px;
  background: url("../img/price-bg.svg") no-repeat;
  font-size: 17px;
  line-height: 1;
  text-transform: uppercase;
  color:var(--white);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-hover {
  display: none;
  position: absolute;
  width:100%;
  top: 0;
  left: 0;
}

.card-hover button {
  width: 135px;
  height: 38px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  vertical-align: middle;
  padding: 0;
}

.buy {
  background: var(--green) url("../img/icon-cart.svg") no-repeat 30px center;
  color:var(--white);
  border: none;
  box-shadow: 0px -3px 0px 0px var(--button-shadow) inset;
}

.buy>span {
  padding-left: 18px;
}

.buy:hover {
  background-color: var(--checkout-hover);
}

.buy:active {
  background-color: var(--button-active);
}

.bookmark {
  color: var(--header-address);
  background-color: var(--white);
  border:3px solid var(--green);
}

.bookmark:hover {
  border-color: var(--header-address);
}

.bookmark:active {
  color: var(--bookmark-active);
  border-color: var(--bookmark-active);
}

.catalog-pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-pagination__item {

}

.catalog-pagination__item a {
  border:1px solid var(--checkbox-dis);
  border-radius: 2px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  display: block;
  padding: 10px;
  font-size: 13px;
  line-height: 1.4px;
}

.catalog-pagination__item a:hover:not(.catalog-pagination__item-acti) {
  border-color: var(--greylight);
}

.catalog-pagination__item a:active:not(.catalog-pagination__item-acti) {
  border-color: var(--red);
}

.catalog-pagination__item-active a {
  background-color: var(--red);
  color:var(--white);
}
