.popular {
}

.popular-header {
  background-color: var(--title-bg);
}

.popular-header h2 {
  font-size: 30px;
  font-style: normal;
  line-height: 1;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.popular-list {
  font-family: "PTSans","Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-list__item {
  border: 1px solid var(--checkbox-dis);
}

.popular-list__item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--black);
  margin: 0;
  padding: 0;
}

.popular-list__item s {
  font-size: 17px;
  line-height: 1;
  color: var(--s-color);
  text-transform: uppercase;
}

.popular-list__item-new {
}
