.service {
  background-color: var(--header-background);
  padding-top: 61px;
  margin-bottom: 71px;
}

.service-title {
  color: var(--black);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  padding: 0;
}

.service-lead {
  font-family: "PTSans","Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  color: var(--black);
  padding: 0;
  margin: 0 0 70px 0;
}

.service-content {
  display: flex;
  padding-bottom: 4px;
}

.buttons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-right: 80px;
  padding-bottom: 95px;
  position: relative;
}

.buttons-list::after {
  position: absolute;
  content: "";
  top: -49px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url("../img/service-shadow.png");
  background-repeat: no-repeat;

}

.buttons-list__button {
  display: inline-flex;
  align-items: center;
  border-style: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--white);
  background-color: var(--header-address);
  min-width: 240px;
  min-height: 61px;
  border-top: 1px solid var(--border-top);
  border-bottom: 1px solid var(--border-bottom);
  padding: 0 0 0 22px;
  cursor: pointer;
}

.buttons-list__button-active {
  border: none;
  background-color: var(--white);
  color: var(--header-address);
}

.buttons-list__button:hover:not(.buttons-list__button-active) {
  background-color: var(--header-section);
}

.desc-list {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.desc-list__content {
  height: 100%;
}

.desc-list dt {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--header-address);
  margin-bottom: 30px;
}

.desc-list dd {
  margin: 0;
  padding: 0;
  font-family: "PTSans","Arial", sans-serif;
  font-size: 13px;
  line-height: 1.9;
  max-width: 310px;
}

.desc-list__content-delivery {
  background: url("../img/delivery.png") no-repeat right bottom;
  display: none;
}

.desc-list__content-guarantee {
  display: none;
  background: url("../img/guarantee.png") no-repeat right bottom;
}

.desc-list__content-credit {
  display: none;
  background: url("../img/credit.png") no-repeat right bottom;
}

.desc-list__conten-active {
  display: block;
}
