
.service {
  background-color: var(--header-background);
}
.service-title {
  color:var(--black);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.service-lead {
  font-family: "PTSans","Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color:var(--black);
}
.service-buttons {

}
.buttons-list {
  list-style: none;
  padding: 0;
}
.buttons-list__item {
}
.buttons-list__button{
  border-style: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
  background-color: var(--header-address);
  width: 240px;
  height: 61px;
  border-top: 1px solid var(--border-top);
  border-bottom: 1px solid var(--border-bottom);
  text-align: left;
}
.buttons-list__button-active{
  border: none;
  background-color: var(--white);
  color:var(--header-address);
}
.buttons-list__button:hover:not(.buttons-list__button-active){
  background-color: var(--header-section);
}
.service-desc {
}
.desc-list{

}
.desc-list dt{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--header-address);
}
.desc-list dd {
  margin: 0;
  padding: 0;
  font-family: "PTSans","Arial", sans-serif;

  font-size: 13px;
  line-height: 24px;
}
.desc-list__content:first-child {
  background:url("../img/delivery.png") no-repeat right;
}
.desc-list__content:nth-child(2) {
  background:url("../img/guarantee.png") no-repeat right;
}
.desc-list__content:last-child {
  background:url("../img/credit.png") no-repeat right;
}
.credit-link {
  font-family: "Cuprum", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  text-transform: uppercase;
}
