.sorts {
  background-color: var(--filter-bg);
  font-family: "PTSans","Arial", sans-serif;
  padding: 10px 14px 10px 19px;
  margin-bottom: 8px;
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  height: 38px;
}

.sorts h2 {
  color: var(--black);
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0 0 0 19px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.sorts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  margin-right: 46px;
  align-items: center;
}

.sorts-list__item:first-child {
  margin-right: 70px;
}

.sorts-list__item:nth-child(2) {
  margin-right: 65px;
}

.sorts-list__button {
  border-style: none;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--sorts-color);
  font-size: 13px;
  padding: 0 0 2px 0;
  border-bottom: 1px dashed var(--red);
  cursor: pointer;
}

.sorts-list__button:hover:not(.sorts-list__button-active) {
  color: var(--black);
  border-bottom-style: solid;
}

.sorts-list__button-active {
  color: var(--red);
  border: none;
}

.range-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.range-list__item:not(:last-child) {
  margin-right: 21px;
}

.range-list__button {
  border-style: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.range-list__button:hover:not(.range-list__button-active)>svg {
  fill: var(--black);
}

.range-list__button-active>svg {
  fill: var(--red);
}

.range-list__item:last-child .range-list__button {
  transform: rotate(180deg);
}
