.user-office {
}

.account-list {
  list-style: none;
  background-color: var(--white);
}

.account-list__item {
}

.account-list__link {
}

.account-list__link>span {
  color: var(--black);
  font-family: Cuprum;
  font-size: 21px;
  line-height: 1;
}

.account-list__link:active>span {
  color: var(--greylight);
}

.account-list__link:hover>svg {
  fill: var(--grey);
}

.account-list__link:active>svg {
  fill: var(--greylight);
}

.private-office {
  list-style: none;
}

.private-office__item {
}

.private-office__item a {
  color: var(--header-address);
  font-size: 16px;
  line-height: 18px;
}

.private-office__item a:hover {
  color: var(--red);

}

.private-office__item a:active {
  color: var(--greylight);

}
