.user-office {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-list {
  list-style: none;
  padding: 0;
  margin: 0 0 7px 0;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  width: 299px;
  padding: 0 15px;
}

.account-list__item {
  min-height: 45px;
  display: flex;
}

.account-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.account-list__link>svg {
  flex-shrink: 0;
}

.account-list__link>span {
  color: var(--black);
  font-family: Cuprum;
  font-size: 21px;
  line-height: 1;margin-left: 21px;
}

.account-list__link:active>span {
  color: var(--greylight);
}

.account-list__link:hover>svg {
  fill: var(--grey);
}

.account-list__link:active>svg {
  fill: var(--greylight);
}

.private-office {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.private-office__item:not(:last-child) {
  position: relative;
  margin-right: 33px;
}

.private-office__item:not(:last-child)::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--header-address);
  top: calc(50% - 3px);
  right: -19px;
}

.private-office__item a {
  color: var(--header-address);
  font-size: 16px;
  line-height: 1.1;
}

.private-office__item a:hover {
  color: var(--red);
}

.private-office__item a:active {
  color: var(--greylight);
}
